:root {
  --brand-color: #000000;
}
h3 {
  margin: 10px 0 0 0;
}
p {
  margin: 5px 0 0 0;
}
ul {
  padding: 0;
}

li {
  list-style: none;
}
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  background-image: url('/static/shop_app/backgrounds.jpeg'); /* Путь к изображению */
  background-size: cover; /* Растягиваем изображение на весь экран */
  background-repeat: no-repeat;
}


.container {
  max-width: 991px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: rgb(255, 255, 255);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
}
.title {
  text-align: center;
  padding-bottom: 10px;
}
.title-wrap {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}
.logo {
  position: relative;
  font-size: 40px;
}
.logo > span {
  color: rgb(49, 3, 253);
  font-style: italic;
  font-weight: 800;
  position: absolute;
  top: 10px;
  left: 100px;
  text-shadow: 4px 4px 2px #bcbcbc;
}

.login {
  font-size: 20px;
  text-align: right;
  text-decoration: none;
}

.signup {
  font-size: 20px;
  text-align: right;
  text-decoration: none;
}
.login-wrap {
  
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search {
  text-align: center;
}
.input-line {
  max-width: 100%;
  background-color: rgb(12, 3, 141);
  padding: 10px 0px;
}

.input-wrap {
  background: rgb(12, 3, 141);
  position: relative;
}
.input-wrap:after {
  content: "";
  clear: both;
  display: table;

}

.input-wrap form {
  width: auto;
  float: right;
  margin-right: 30px;
}
.input-wrap input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid rgb(12, 3, 141);
  background: #f9f0da;
  outline: none;
  position: relative;
  transition: 0.3s linear;
}
.input-wrap input:focus {
  width: 300px;
}

.search {
  position: relative;
}

.input-wrap button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 7px;
}
.input-wrap button:before {
  /* content: '\f002'; */
  content: "\1F50E";
  font-family: "Font Awesome 5 Free";
  color: #000000;
}
.main {
  margin-top: 140px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  min-height: 80vh;
}

.item {
  /* height: 200px; */
  width: 100%;
  /* border: dotted 1px rgb(0, 102, 255); */
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: calc((100% - 30px) / 4);
  /* box-shadow: 4px 4px 2px #bcbcbc; */
  transition-property: transform;
  transition-duration: 100ms;
}
.item:hover {
  transform: scale(1.05);
}
.card {
  flex: 4;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.game-description {
  width: 100%;
  /* background-color: beige; */
  /* border: dotted 1px rgb(0, 102, 255); */
  /* border-top: none; */
  /* padding: 5px; */
  text-align: center;
}
.main-menu-wrap {
  position: relative;
  flex: 1;
}

.main-menu {
  flex-grow: 1;
  flex-basis: 300px;
  align-self: start;
  position: sticky;
  top: 177px;

  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px;
  padding-top: 0px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.menu-item {
  width: 100%;
  border-radius: 5%;
  text-align: center;
  background-color:  rgb(12, 3, 141);
  padding: 5px;
  transition-property: transform;
  transition-duration: 100ms;
}

.game-detailes-info{
  display: flex;
}

.game-info{
  margin-right: 10px;
  margin-bottom: 30px;
}

.game-title{
  font-size: 15px;
}

.menu-item:hover {
  transform: scale(1.05);
}
.menu-item a {
  color: rgb(255, 253, 253);
  text-decoration: none;
}

.btn-pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-pagination > a {
  border: 1px solid #ff0101;
  border-color: #000000;
  border-radius: 15px;
  padding: 5px 15px;
  text-decoration: none;
  
}

.btn-pagination > a:hover {
  background-color: rgb(12, 3, 141);
  color:rgb(255, 255, 255)
}

footer {
  background-color: rgb(12, 3, 141);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  /* position: fixed; */
  /* left: 0;
  bottom: 0; */
  width: 100%;

}

footer{
  background-color: rgb(12, 3, 141);
}

/* --------------------------------------------------------------------------------------------------------Media-------------- */
/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
}

@media (max-width: 650) {
}
