<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pavlik Ravlik Ltd &#xae</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css">
    {%load static%}
    <link rel="stylesheet" href="{% static 'shop_app/styles.css' %}">

</head>


<body>
     <header>
      <div class="container">
        <section class="title">
         <div class="title-wrap">
         <div class="logo">
                <a href="{% url 'shop_app:main' %}" style="text-decoration: none">Pavlik <span>Ravlik&#xae</span></a>
         </div>
         
         <div class="login-wrap">
         <a href="" class="login">Registration</a>
         <a href="" class="login">Login</a>
         </div>
         </div>
         <div class="input-line">
         
      <div class="input-wrap">
         <form method="get" action="{% url 'shop_app:search_result' %}">
          <input type="text" name='q' placeholder="Искать здесь...">
          <button type="submit"></button>
         </form>
       </div>
         </div>
         </section>
       </div>        
     </header>
     
        {%block content%}
        {%endblock%}
        
        {%block result%}
        {%endblock%} 
          </div>
          {%for game in games%}
          <div class="main-menu-wrap">
            <ul class="main-menu">
              <li class="menu-item"><a href="" >{{game.genre}}</a> </li>
            </ul>
           {% endfor %}  
        </div>  
    </section>
     </main>
  
    <footer>
      <div class="container">
        <p>Pavlik-Ravlik Corporation, All Right Reserved</p>
      </div>
    </footer>

</body>
</html>