<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pavlik Ravlik Ltd &#xae</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css">
    {%load static%}
    <link rel="stylesheet" href="{% static 'shop_app/styles.css' %}">

</head>


<body>
     <header>
      <div class="container">
        <section class="title">
         <div class="title-wrap">
         <div class="logo">
                <a href="{% url 'shop_app:main' %}" style="text-decoration: none">Pavlik <span>Ravlik&#xae</span></a>
         </div>
         
         <div class="login-wrap">
         <a href="{% url 'users:signup' %}" class="signup">SignUp</a>
         <a href="{% url 'users:login' %}" class="login">Login</a>
         </div>
         </div>
         </div>

        <div class="input-line">
         
      <div class="input-wrap">
        <div class="container">        
         <form class='search' method="get" action="{% url 'shop_app:search_result' %}">
          <input type="text" name='q' placeholder="Искать здесь...">
          <button type="submit"></button>
         </form>
        </div>
       </div>
         </div>
         </section>
      
     </header>

        {%block content%}
        {%endblock%}
        

        {% block genre %}
        {%endblock%}
        
        {%block result%}
        {%endblock%}

    <footer>
        <p>Pavlik-Ravlik Corporation, All Right Reserved</p>
    </footer>
      
</body>
</html>