{% extends 'shop_app/base.html' %} 
{% block category %}

<ul id="menuigruha">
    <li><a href="/igry-po-seti/" >Игры по сети</a></li>           
    <li><a href="/repack-by-igruha/" >Репаки от Игрухи</a></li>      
    <li><a href="/repack-otxataba/" >Репаки от Хатаба</a></li> 
    <li><a href="/repack-ot-mechanics/" >Репаки от Механиков</a></li>
    <li><a href="/games-2023/" >Игры 2023 года</a></li>  
    <li><a href="/games-2022/" >Игры 2022 года</a></li>    
    <li><a href="/games-2021/" >Игры 2021 года</a></li> 
    <li><a href="/games-2020/" >Игры 2020 года</a></li> 
    <li><a href="/games-2019-years/" >Игры 2019 года</a></li> 
    <li><a href="/igry_2018/" >Игры 2018 года</a></li> 
    <li><a href="/igri-dly-slabih-pc/">Для слабых ПК</a></li> 
    <li><a href="/igry-s-khoroshim-siuzhetom/">Хороший сюжет</a></li>  
    <li><a href="/good-graphics-games/">Хорошая графика</a></li>  
    <li><a href="/game-open-world/">Открытый мир</a></li>
    <li><a href="/1st-person/">От 1-го лица</a></li> 
    <li><a href="/3rd-person/">От 3-го лица</a></li>  
    <li><a href="/1st-person-shooter/">Шутеры от 1-го лица</a></li> 
    <li><a href="/3st-person-shooter/">Шутеры от 3-го лица</a></li> 
      <li><a href="/race/">Гонки (Race)</a></li>
          <li><a href="/zombie-games/">Зомби (Zombie)</a></li>
        <li><a href="/action/">Экшен (Action)</a></li>
          <li><a href="/stels/">Стелс (Stealth)</a></li> 
         <li><a href="/rpg/">Ролевые (Rpg)</a></li>
        <li><a href="/horror-game/">Хоррор (Horror)</a></li> 
    <li><a href="/fighting/">Драки (Fighting)</a></li>
        <li><a href="/arcade/">Аркады (Arcade)</a></li>
       <li><a href="/sport/">Спортивные (Sport)</a></li>
        <li><a href="/strategy/">Стратегии (Strategy)</a></li>
          
        <li><a href="/survival-game/">Выживание (Survival)</a></li>
        
        <li><a href="/simulators-22/">Симуляторы (Simulators)</a></li>
        <li><a href="/adventure/">Приключения (Adventure)</a></li> 
         <li><a href="/sandbox/">Песочницы (Sandbox)</a></li> 
        <li><a href="/vizualnie-novelli/">Визуальные новеллы</a></li>  
      <li><a href="/vr-games/">VR-игры</a></li> 
       <li><a href="/igry-na-dvoikh/">Игры на двоих</a></li> 
      <li><a href="/gog/">GOG-игры</a></li> 
       <li><a href="/bez-ustanovki/">Без установки</a></li> 
    
    </ul>

{%endblock%}