{% extends 'shop_app/base.html' %}
{% block content %}
<main>
    <div class="container">
      <section class="main">
        <div class="card">
        <ul class="card-set">
<div class="game-details">
    <h3 class="game-title">{{ game_detail.title }}</h3>

    <div class='game-detailes-info'>
        <div class="game-info">
            <img src="/media/{{game_detail.path}}" alt="Poster" width="200" height="300">
            <p><strong>Price:</strong> {{ game_detail.price }} $</p>
            <button type="submit" > Buy</button>       
        </div>
    
    <div>
        <p><strong>Date of realise:</strong> {{ game_detail.date_of_release }}</p>
        <p><strong>Genre:</strong>
        {% for genre in game_detail.genre.all %}
            {{ genre.name }}
            {% if not forloop.last %}, {% endif %}
        {% endfor %}</p>
        <p><strong>Platform:</strong> {{ game_detail.platform }}</p>
        <p><strong>OC:</strong> {{ game_detail.os_requirements }}</p>
        <p><strong>Memory:</strong> {{ game_detail.memory_requirements }}</p>
        <p><strong>GPU:</strong> {{ game_detail.graphics_card_requirements }}</p>
        <p><strong>Free space on disc:</strong> {{ game_detail.disk_space_requirements }}</p>
    </div>

    </div>
    <p><strong>Description:</strong> {{ game_detail.game_description }}</p>
</div>
</main>
{% endblock %}
