{% extends 'shop_app/base.html' %} 
{% block content %}

<main>
    <div class="container">
      <section class="main">
        <div class="card">
        <ul class="card-set">
    {%for game in games%}
      <li class="item">
          <img src="/media/{{game.path}}" alt="Poster" width='161' height='230'>
          <div class="game-description">
            <a href="/{{game.title}}">
          <p class="game-title">{{game.title}}</p>
        </a> 
          <p class="game-price">$ {{game.price}}</p>
          </div>
        </li>
    {% endfor %}
    
    <div class="btn-pagination">
        {% if games.has_previous %}
        <div class="previous">
            <a href="{% url 'shop_app:main_paginate' games.previous_page_number %}">
                <span aria-hidden="true">←</span> Previous
            </a>
          </div>
        {% endif %}

        {% if games.has_next %}
        <div class="next">
            <a href="{% url 'shop_app:main_paginate' games.next_page_number %}">Next
                <span aria-hidden="true">→</span>
            </a>
          </div>
        {% endif %}
      </div>
          
{% endblock %}