<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pavlik Ravlik Ltd &#xae</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
  />
     <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
     <header>
      <div class="container">
        <section class="title">
         <div class="title-wrap">
         <div class="logo">Pavlik<span>Ravlik&#xae</span></div>
         
         <div class="login-wrap">
         <a href="" class="login">Registration</a>
         <a href="" class="login">Login</a>
         </div>
         </div>
         <div class="input-line">
         
      <div class="input-wrap">
         <form>
          <input type="text" placeholder="Искать здесь...">
          <button type="submit"></button>
         </form>
       </div>
         </div>
         </section>
       </div>        
     </header>
      <main>
      <div class="container">
        <section class="main">
      
          <div class="card">
          <ul class="card-set">
            <li class="item">
            <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
       <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
          <li class="item">
            <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
       <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        <li class="item">
          <a href="" > 
            <img src="game-image.jpg" alt="Poster">
          </a> 
            <div class="game-description">
            <h3 class="game-title">Название Игры</h3>
            <p class="game-price">$99.99</p>
            </div>
        </li>
        
          </ul>
          <div class="btn-pagination">
            <button class="btn-prev">Previous</button>
            <button class="btn-next">Next</button>
          </div>
          </div>
          <div class="main-menu-wrap">
            <ul class="main-menu">
              <li class="menu-item"><a href="" >menu 1</a> </li>
              <li class="menu-item"><a href="" >menu 1</a> </li>
              <li class="menu-item"><a href="" >menu 1</a> </li>
              <li class="menu-item"><a href="" >menu 1</a> </li>
              <li class="menu-item"><a href="" >menu 1</a> </li>
              <li class="menu-item"><a href="" >menu 1</a> </li>
              <li class="menu-item"><a href="" >menu 1</a> </li>
              <li class="menu-item"><a href="" >menu 1</a> </li>
            </ul>
          </div>
  
    </section>
    </div>
     </main>
  
    <footer>
      <div class="container">
        <p>Pavlic-Ravlik Corporation, All Right Reserved</p>
      </div>
    </footer>

</body>
</html>